header{
    background-color: white;
    background-image: url("paws.png");
    background-position: right top;
    background-size: 80px 60px;
    background-repeat: repeat-x;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
h1 {
    text-align: center;
    margin-top: 50px;
    
}

body{
    margin-top: 175px;
    margin-bottom: auto;
    padding: inherit;
    width: auto;
}
div.announcement{
    margin-right: 500px;  
}
h3.announcement{
    border-style: solid;
    border-width: 3px;
    width: 200px;
    text-align: center;
    text-underline-position: auto;
    margin-bottom: 0;
}
p{
    border-style: solid;
    border-width: 3px;
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;
}
p.topbox{
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;
    border-bottom: none;
}
div.topnav{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
}

ul.topnav{
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
}

li{
    float: left;
    margin: auto;
    width: 25%
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: black;
}
/* Form in body */
h2.reg{
    text-align: center;
}
form.reg{
    align-content: center;
}
/* End form in body */
div.news{
    margin-left: 1210px;
    margin-top: -104px;
    margin-bottom: 200px;
}
h3.news{
    border-style: solid;
    border-width: 3px;
    width: 200px;
    text-align: center;
    text-underline-position: auto;
    margin-bottom: 0;
}
p.news{
    font-size: 15px;
    border-bottom: none;
    padding-bottom: 5px;
}
p.email{
    padding-bottom: 20px;
}
form{
    margin-left: 60px;
    margin-top: -42px;
}
input.form{
    width: 140px;
    margin-left: -15px;
}
input.submit{
    margin-left: 80px;
    margin-bottom: 80px;
}
footer{
    width: 100%;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    position: static;
    display: inline-block;
}
ul.footer{
    width: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
}
li.footer{
    font-size: 14px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-right: 58px;
}