<head>
        <link rel="stylesheet" href="css/index.css"/>
        <title>Omaha Husky Rescue: Pitcrew</title>
    </head>

    <header>
        <h1>The Pitcrew</h1>
        
        <div class="topnav">
        <ul class="topnav">
            <li><a href="index.html">Home</a></li>
            <li><a href="sledteam.html">The Sled Team</a></li>
            <li><a>The Pitcrew</a></li>
            <li><a href="about.html">About Us</a></li>
        </ul>
        </div>
    </header>
        
        
        <footer>
        <ul class="footer">
            <li class="footer">Created by Roberto Capurro</li>
            <li class="footer">Check out our Facebook page!</li>
            <li class="footer">Powered by HTML5/CSS3</li>
        </ul>
    </footer>
</html>
